.card-container {
    /* border: 3px solid red; */
    width: 25%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #00050cee;
}

.name-list {
    /* border: 3px solid green; */
    color: var(--white);
    font-family: var(--font-secundary);
    font-weight: 400;
}

.name-list h3 {
    margin: 0;
    font-family: var(--font-third);
    font-weight: 500;
}

.title-type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    font-size: 12px;
}

.add-custom {
    border: 2px solid #00050C;
    background-image: url("../images/logos/add-list.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
}

.add-custom:hover {
    border: 2px solid var(--bright-blue);
    transition: .3s;
}

.card-list {
    /* border: 3px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: -1rem;
}

.nth-small {
    width: 13%;
    height: 4rem;
    transition: .3s;
    border-radius: 3px;
    box-shadow: 0 0px 30px rgb(0, 0, 0);
}

.nth-mid {
    width: 17%;
    height: 5rem;
    margin: -.6rem;
    transition: .3s;
    z-index: 30;
    border-radius: 3px;
    box-shadow: 0 0px 30px rgb(0, 0, 0);
}

.nth-big {
    width: 20%;
    height: 6rem;
    transition: .3s;
    z-index: 50;
    border-radius: 3px;
    box-shadow: 0 0px 30px rgb(0, 0, 0);
}

.nth-big:hover {
    transform: translateY(-9%);
    transition: .5s;
}

.nth-mid:hover{
    transform: translateY(-10%);
    transition: .5s;
}

.nth-small:hover{
    transform: translateY(-10%);
    transition: .5s;
}

.profile-list {
    /* border: 3px solid yellow; */
    display: flex;
    justify-content: space-between;
    padding: .5rem;
}

.user {
    /* border: 3px solid red; */
    display: flex;
    color: var(--white);
    align-items: center;
    gap: .5rem;
    font-family: var(--font-primary);
}

.user .image {
    display: flex;
    background-image: url("../images/deafault/photo-profile.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.8rem;
    height: 1.8rem;
}

.interaction{
    display: flex;
    gap: 1rem;
}

.btn-int{
    display: flex;
    flex-direction: row;
}

.like{
    background-image: url("../images/logos/");
}