.content_terms{
    margin: 40px 10px;
    overflow: hidden;
    overflow-y: scroll;
    z-index: 6;
    background-color: var(--contrast-dark-blue);
    color: aliceblue;
    
  }
.content_terms h1 {
    font-size: medium;
}

.content_terms::-webkit-scrollbar {
    background-color: rgba(217, 217, 217, 10%);
    opacity: 0.1;
    width: 5px;
    border-radius: 10px;
  }
  .content_terms::-webkit-scrollbar-thumb {
    background-color: var(--dark-yellow);
    border-radius: 10px;
  }

.modal-term,
.overlay-modal-term {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 3;
}

.modal-content-term {
    color: var(--white);
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* animation: modalEntrada 0.5s ease-in-out; */
    /* line-height: 1.4; */
    background: var(--dark-blue);
    border-radius: 13px;
    height: 515px;
    border: solid 0.1px rgba(150, 148, 148, 0.4);
    z-index: 4;
    font-family: var(--font-primary);
    border-radius: 13px;

  }

  .modal-right-content-term {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 13px;
    /* width: 42%; */
    padding: 30px;
    background-color: var(--dark-blue);
    /* box-shadow: -17px 0px 14px rgba(0, 0, 0, 0.8); */
  }