server {
    listen 80 default_server;
    listen [::]:80 default_server;

    location / {
        root /usr/share/nginx/html;
        try_files $uri /index.html;
    }

    location /api/ {
        proxy_pass http://${URL_LB}/api/;
        proxy_set_header Host $http_host;
    }

    location /apo/ {
        proxy_pass http://${URL_LB}/apo/;
        proxy_set_header Host $http_host;
    }
}